@font-face {
  font-family: gameboy;
  src: local("Early_GameBoy"), url(./fonts/Early_GameBoy.ttf) format("truetype");
}

@font-face {
  font-family: bangers;
  src: local("Bangers-Regular"),
    url(./fonts/Bangers-Regular.ttf) format("truetype");
}
@font-face {
  font-family: green_fuz;
  src: local("green_fuz"), url(./fonts/green_fuz.otf) format("OpenType");
}
@font-face {
  font-family: Metro;
  src: local("Metro"), url(./fonts/Metro.otf) format("OpenType");
}
@font-face {
  font-family: minotaur;
  src: local("minotaur"), url(./fonts/minotaur.ttf) format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #152642;
  font-family: monospace;
  overflow: hidden;

  font-family: gameboy;
  webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
